<div class="booyah-box col-10 offset-1">
  <h1>Enter Your Place Details</h1>
  <%= simple_form_for @team do |f| %>
    <%= f.input :name %>
    <%= f.input :games %>
    <%= f.input :championships %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>